
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f4f6f9;
  color: #333;
  padding: 20px;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

section {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #0056b3;
}

a:hover {
  text-decoration: underline;
}


header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.2rem;
  color: #111;
}

header p {
  margin-top: 5px;
  font-size: 0.95rem;
}


main {
  display: flex;
  flex-direction: column;
}


article {
  margin-bottom: 20px;
}

ul {
  margin-top: 8px;
  margin-left: 20px;
}



footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.8rem;
  color: #666;
}



@media (min-width: 900px) {

  body {
    max-width: 1100px;
    margin: auto;
  }

  main {
    flex-direction: row;
    gap: 50px;
  }

  main section {
    flex: 1;
  }

  main section:nth-child(1),
  main section:nth-child(2),
  main section:nth-child(5) {
    flex: 0.7;
  }

  main section:nth-child(3),
  main section:nth-child(4) {
    flex: 1.3;
  }

  header {
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
  }

  footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
}